[ req ]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[ req_distinguished_name ]
C = IN
ST = Maharashtra
L = Mumbai
O = Garuda Mail Enterprise
OU = Mail Gateway TLS
CN = 192.168.1.3

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names

[ alt_names ]
IP.1 = 192.168.1.3
IP.2 = 192.168.1.5
IP.3 = 127.0.0.1
DNS.1 = localhost
DNS.2 = mail.enterprise.local
DNS.3 = *.enterprise.local
